body {
  font-family: Tahoma, Geneva, sans-serif;
}

.header-wrapper {
  width: 100%;
  display: flex;
}

.name-job-wrapper {
  width: 100%;
  text-align: right;
}

.logo {
  height: 15%;
  width: 15%;
}

.about-me-description {
  width: 100%;
  padding: 20px 0;
  border-top: 3px solid #2d3c49;
}

.featured-work-title {
  text-align: left;
  color: #7d97ad;
  margin-bottom: 0
}

.featured-work {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.featured-work-images-wrapper {
  height: auto;
  width: 45%;
  margin: 0;
  padding: 10px 20px;
 }

.featured-work-images { width: 100%; }

.featured-work-images-description {
   margin-top: 0;
   text-align: center;
 }

 a {
   color: black;
 }
